@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  width: 1110px;
  height: -moz-max-content;
  height: max-content;
}
.wrapper header {
  max-width: 1110px;
  height: 50px;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper header .hamb {
  width: 16px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.wrapper header .hamb .one {
  width: 16px;
  height: 3px;
  background: #D8D8D8;
}
.wrapper header .hamb .two {
  width: 16px;
  height: 3px;
  background: #D8D8D8;
}
.wrapper header .hamb .three {
  width: 16px;
  height: 3px;
  background: #D8D8D8;
}
.wrapper header img {
  width: 137.5px;
  height: 20px;
}
.wrapper header div {
  margin-right: 399px;
}
.wrapper header div ul {
  list-style: none;
}
.wrapper header div ul li {
  display: flex;
}
.wrapper header div ul li a {
  text-decoration: none;
  margin-left: 32px;
  font-family: Kumbh Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #69707D;
  cursor: pointer;
}
.wrapper header div ul li a:hover {
  color: #1D2026;
  font-family: Kumbh Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 173.333% */
}
.wrapper header .oh {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: -moz-max-content;
  width: max-content;
}
.wrapper header .oh .market {
  width: 21.8211975098px;
  height: 20px;
}
.wrapper header .oh .market:hover {
  color: #1D2026;
}
.wrapper header .oh .men {
  width: 50px;
  height: 50px;
}
.wrapper section .box {
  display: flex;
  align-items: center;
  margin-top: 136px;
  margin-left: 105px;
}
.wrapper section .box .imglar {
  background-color: #fff;
  width: 445px;
  height: 565px;
}
.wrapper section .box .imglar .bigimg {
  width: 445px;
  height: 445px;
}
.wrapper section .box .imglar .fourimg {
  display: flex;
  -moz-column-gap: 31px;
       column-gap: 31px;
  width: 88px;
  height: 88px;
  margin-top: 32px;
}
.wrapper section .box .info {
  width: 445px;
  height: 426px;
  margin-left: 115px;
}
.wrapper section .box .info .headinfo {
  font-family: Kumbh Sans;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: left;
  color: #FF7E1B;
}
.wrapper section .box .info h1 {
  width: 445px;
  height: 96px;
  font-family: Kumbh Sans;
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: #1D2026;
  margin-top: 27px;
}
.wrapper section .box .info .textinfo {
  width: 445px;
  height: 78px;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #69707D;
  margin-top: 32px;
}
.wrapper section .box .info .money {
  width: 173px;
  height: 68px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
  align-items: center;
}
.wrapper section .box .info .money h2 {
  width: 106px;
  height: 28px;
  font-family: Kumbh Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  color: #1D2026;
}
.wrapper section .box .info .money .go {
  width: 51px;
  height: -moz-max-content;
  height: max-content;
  background-color: #FFEEE2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper section .box .info .money .go .so {
  width: 35px;
  height: 16px;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #FF7E1B;
}
.wrapper section .box .info .money .minus {
  width: 63px;
  height: 26px;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #B6BCC8;
}
.wrapper section .box .info .buttons {
  width: 445px;
  height: 56px;
  display: flex;
}
.wrapper section .box .info .buttons .plusminus {
  background-color: #F6F8FD;
  width: 157px;
  height: 56px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper section .box .info .buttons .plusminus p {
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #1D2026;
}
.wrapper section .box .info .buttons .plusminus .imgminus {
  width: 12px;
  height: 3.3321428299px;
}
.wrapper section .box .info .buttons .plusminus .imgplus {
  width: 12px;
  height: 12px;
}
.wrapper section .box .info .buttons button {
  width: 272px;
  height: 56px;
  background-color: #FF7E1B;
  border-radius: 15px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}
.wrapper section .box .info .buttons button:hover {
  background: #FFAB6A;
  box-shadow: 0px 20px 50px -20px #FF7E1B;
}
.wrapper section .box .info .buttons button .buttoninfo {
  width: 86px;
  height: 16px;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  margin-left: 16px;
}

@media (max-width: 1112px) {
  .wrapper header div {
    margin-right: 0px;
  }
  .wrapper header img {
    margin-left: 200px;
  }
  .wrapper header .oh .men {
    margin-left: 0px;
  }
}
@media (max-width: 968px) {
  .wrapper section .box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrapper section .box .info {
    margin-top: 100px;
    margin-left: 0px;
  }
}
@media (max-width: 668px) {
  .wrapper header div ul {
    display: none;
  }
  .wrapper header .hamb {
    display: block;
  }
  .wrapper section .box .info .money {
    width: 326px;
    align-items: center;
  }
  .wrapper section .box .info .money .go {
    margin-right: 98px;
  }
  .wrapper section .box .info .buttons {
    flex-direction: column;
    justify-content: center;
  }
  .wrapper section .box .info .buttons .plusminus {
    width: 327px;
    margin-bottom: 16px;
    height: 56px;
    border-radius: 0;
    margin-left: 15px;
    padding: 30px;
    margin-top: 70px;
  }
  .wrapper section .box .info .buttons button {
    width: 327px;
    padding: 30px;
  }
  .wrapper section .box .info .buttons button:hover {
    background: #FFAB6A;
    box-shadow: 0px 20px 50px -20px #FF7E1B;
  }
}/*# sourceMappingURL=style.css.map */